@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

html {
  font-family: "Outfit", sans-serif;
}

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-outfit-sans);  
  --color-primary: #0f596d;
  --color-secondary-1: #00b9b7;
  --color-secondary-2: #a8d47d;
}





@layer base {
  body {
    @apply bg-white;
  }

}

@layer components {
  .structure{
    @apply max-w-[1280px] mx-auto px-5;
  }
}